
*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #0d1b1e; 
}
.site-title i {
    font-size: 1.75rem; 
    margin-right: 10px; 
    color: white;
}

.landing-page {
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url("https://wallpaperaccess.com/full/749687.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    padding: 100px 0;
    font-size: 40px;
    font-weight: 550;
    font-family: "sans-serif";
}

/* About Section Styles */
.about-section {
    height: 100vh;
    position: relative;
    padding: 10px;
    padding-left: 10px;
}
.about-heading{
    color: #ff9900;
    font-size: 47px;
    font-family: Roboto;
    font-weight: 700;
    margin-bottom: 15px;
}
.about-description{
    font-size: 20px;
    font-family: Roboto;
    color: #ccc;
    /* color: #e5e5e5; */
}
@media (min-width: 768px) {
    .about-description {
        width: 48%;
    }
    .about-section {
        background: url('image.webp') no-repeat center center/cover;
        position: relative;
    }
    
}

/* Games Section */
.game-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.game-tile {
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.img-fluid {
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.game-tile:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
    .games-section{
        height: 100vh;
    }
}


section {
    padding: 60px 0;
}


/* Social Media and Contact Us Section */
.contact-us{
    height: 100vh;
}
.follow-us-title{
    color: #fff;
    margin-bottom: 30px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-icons a {
    color: white;
    font-size: 36px; 
    text-decoration: none;
    transition: transform 0.3s ease; 
}
.social-icons a:hover {
    transform: scale(1.2); 
}
.follow-us-container{
    margin-bottom: 40px;
}
.contact-us-container{
    margin-top: 80px;
}
.contact-us-title{
    color: #fff;
    font-size: 36px;
}
.contact-us-mail{
    color: #fff;
    font-size: 30px;
}
.mail-link{
    margin-left: 12px;
    text-decoration: none;
}
.dm-us{
    color: #fff;
    font-size: 18px;
}


footer {
    background-color: #333;
    color: white;
}

footer a {
    color: #ccc;
    text-decoration: none;
}
